*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu { 
    width: 100%;
    height: 100px;
    
}
.itens-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 29px;

}

.itens-menu{
    display: flex;
}
.logo{
    display: flex;
    gap: 5px;
}
.logo-principal {
    width: 50px;
    height: 32px;
    margin-left: 54px;
}
.logo > span {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.submenu > li,a {
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: bold;
}

.icons > ul {
    display: flex;
    list-style: none;
    margin-right: 30px;
    gap: 30px;
    margin-right: 150px;
}

