body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #F9F1E7;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

nav>ul{
    justify-content: left;
    align-items: left;
    text-align: center;
    display: flex;
}

nav>ul>li{
    text-decoration: none;
    display: flex;
}


.parrow{
    padding-left: 99px;
    padding-top: 38px;
    padding-bottom: 38px;
}

.arrow{
    padding-top: 39px;
    padding-left: 21px;
}

.asgaardsec{
    color: black;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 34px;
}

nav>ul>li>span{
    width: 20px;
    height: 20px;
}



.bar{
    padding-left: 25px;
    padding-top: 31px;
}

nav>ul>div{
    padding-top: 45px;
    padding-left: 25px;
}


nav>ul>img{
    width: 14px;
    height: 8px;
}



nav>ul>li>p{
    color: #9F9F9F;
}

main{
    display: flex;
    align-items: center;
}


.container{
    display: flex;
    padding-left: 99px;
    width: 553px;
    height: 500px;
}

.asideimg{
    width: 76px;
    height: 416px;
    margin: 30px;
}

.asideimg>div{
    width: 76px;
    height: 80px;
    margin: 32px;
    background-color: #F9F1E7;
    justify-content: center;
    border-radius: 15px;
}


.mainimg{
    background-color: #F9F1E7;
    width: 481px;
    height: 500px;
    justify-content: center;
    padding-top: 65px;
    margin: 30px;
    border-radius: 15px;
}

.firstasideimg{
    padding-top: 7px;
}

.lastasideimg{
    padding-top: 18px;
}

.info{
    width: 606px;
    height: 730px;
    padding-left: 200px;
    margin-left: 90px;
    padding-top: 35px;
    flex-direction: row;
}