body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/*Produto barra superior*/

ul{
    background-color: #F9F1E7;
    font-size: 16px;
}

ul{
    justify-content: left;
    align-items: left;
    text-align: center;
    display: flex;
}

ul>li{
    text-decoration: none;
    display: flex;
}


.parrow{
    padding-left: 99px;
    padding-top: 38px;
    padding-bottom: 38px;
}

.arrow{
    padding-top: 39px;
    padding-left: 21px;
}

.asgaardsec{
    color: black;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 34px;
}

ul>li>span{
    width: 20px;
    height: 20px;
}



.bar{
    padding-left: 25px;
    padding-top: 31px;
}

ul>div{
    padding-top: 45px;
    padding-left: 25px;
}


ul>img{
    width: 14px;
    height: 8px;
}



ul>li>p{
    color: #9F9F9F;
}

/*Produto imagem*/

main{
    display: flex;
    align-items: center;
}


.container{
    display: flex;
    padding-left: 99px;
    width: 553px;
    height: 500px;
}

.asideimg{
    width: 76px;
    height: 416px;
    margin: 30px;
}

.asideimg>div{
    width: 76px;
    height: 80px;
    margin: 32px;
    background-color: #F9F1E7;
    justify-content: center;
    border-radius: 15px;
}


.mainimg{
    background-color: #F9F1E7;
    width: 481px;
    height: 500px;
    justify-content: center;
    padding-top: 65px;
    margin: 30px;
    border-radius: 15px;
}

.firstasideimg{
    padding-top: 7px;
}

.lastasideimg{
    padding-top: 18px;
}

/*Informações do Produto*/

.info{
    width: 606px;
    height: 730px;
    padding-left: 200px;
    margin-left: 90px;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
}

.price{
    color: #9F9F9F;
    font-size: 24px;
}

section>div{
    padding-bottom: 15px;
}

section>div>h1{
    font-size: 42px;

}

section>div>div{
    padding-bottom: 18px;
}

section>div>div>p{
    color: #9F9F9F;
}

section>div>div{
    flex-direction: row;
}

.reviewline{
    padding: 5px;
}

section>div>div>p{
    display: inline-block;
}

/*Compra do Produto*/

.buyinfo{
    display: flex;
    flex-direction: column;
}


.productsize>div{
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.normal{
    background-color: #F9F1E7;
}

.selecionado{
    color: white;
    background-color: #B88E2F;
}

.purple{
    width:  30px;
    height: 30px;
    background-color: #816DFA;
    border-radius: 50px;
}

.black{
    width:  30px;
    height: 30px;
    background-color: #000000;
    border-radius: 50px;
}

.gold{
    width:  30px;
    height: 30px;
    background-color: #B88E2F;
    border-radius: 50px;
}


.productbuy{
    width: 215px;
    height: 15px;
    border: 1;
    border-radius: 15px;
}

.contador{
    width: 123px;
}


